<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.triggerhappycoders"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.gatech.cs2340.triggerhappycoders.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.view.RegisterNewUserActivity"
            android:label="Register Your Account Here" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.view.CreateNewItemActivity"
            android:label="Create a New Item" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.presenter.ItemProfilePageActivity"
            android:label="Item Profile" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.view.ShowItemListActivity"
            android:label="Item List" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.presenter.UserProfileActivity"
            android:label="Your Profile" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.view.ShowUsersActivity"
            android:label="@string/title_activity_show_users" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.presenter.TabsActivity"
            android:label="@string/title_activity_tabs" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.triggerhappycoders.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.triggerhappycoders.SearchFragment"
            android:label="@string/title_activity_search_fragment"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.triggerhappycoders.SettingsFragment"
            android:label="@string/title_activity_settings_fragment" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.triggerhappycoders.MapFragment"
            android:label="@string/title_activity_map_fragment" >
        </activity>
    	<activity
            android:name="edu.gatech.cs2340.thc.presenter.AdminProfileActivity"
            android:label="title_activity_admin_profile" >
        </activity>
        <activity
            android:name="edu.gatech.cs2340.thc.presenter.UserItemsActivity"
            android:label="Your Items" >
        </activity>
    </application>

</manifest>